{% extends 'base.html' %} {% block title %}Router Details{% endblock %} 
{% block content %}
<div class="container">
  <h2>Router Details</h2>
  <div class="card">
    <div class="card-body">
      <p><strong>MAC Address:</strong> {{ router.mac_address }}</p>
      <p><strong>Router UserName:</strong> {{ router.mac_address }}</p>
      <p><strong>Router Password:</strong> {{ router.mac_address }}</p>

      <p>
        <strong>Status:</strong>
        <span
          class="badge {% if router.status == 'Online' %}bg-success{% else %}bg-danger{% endif %}"
        >
          {{ router.status }}
        </span>
      </p>
      <p><strong>Location:</strong> {{ router.location }}</p>
      <p><strong>Contact Number:</strong> {{ router.phone_number }}</p>
      <p><strong>Last Checked:</strong> {{ router.last_checked }}</p>
      <p><strong>Description:</strong> {{ router.description }}</p>
      <p><strong>Last Reset:</strong> {{ router.last_reset }}</p>
      <p><strong>Last Checked:</strong> {{ router.last_checked }}</p>
      <p><strong>Router Type:</strong> {{ router.last_reset }}</p>
      <p><strong>Parent Router:</strong> {{ router.last_reset }}</p>
      <p><strong>Children Router:</strong> {{ router.children.all() }}</p>
      <form method="post" action="{% url 'api_reboot_router' router.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Reboot Router</button>
      </form>
    </div>
  </div>
  <a href="{% url 'router_list' %}" class="btn btn-secondary mt-3"
    >Back to Router List</a
  >
</div>
{% endblock %}
